.navbar{
    background-color: var(--theme);
    padding: 0.5rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.heading{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profile-icon{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;    
}
.link{
    opacity: 0.8;
    cursor: pointer;
}

.link:hover{
    opacity: 1;
    transition: all 0.3s;
}

.logout{
    color: var(--white);
}