.navbar{
    background-color: var(--theme);
    padding: 0.5rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
}

.link{
    opacity: 0.8;
    cursor: pointer;
}

.link:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}